@import "tailwindcss";

body {
  background-image: url("/desktop-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 16px);
  background-position: center;
}

@media (width <= 620px) {
  body {
    background-image: url("/mobile-bg.webp");
  }
}
